.root {
    -fx-background-color: #f5f5dd;
    -fx-font-size: 11px;
}

.setRed {
    -fx-border-color: #a21206;
}

.clearRed {
    -fx-border-color: none;
}

.text-label {
    -fx-text-fill: black;
    -fx-font-size:16px;
    -fx-font-weight: bold;
}
.btn-style{
    -fx-background-color:#473d8b;
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-padding-left:8px;
    -fx-padding-right:8px;
    -fx-padding-top:4px;
    -fx-padding-bottom:4px;
}
.main-login{
    -fx-padding: 20px;
}
#btnClear{
    -fx-background-color: #a22108;
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-padding-left:8px;
    -fx-padding-right:8px;
    -fx-padding-top:4px;
    -fx-padding-bottom:4px;
}
#btnSubmit{
    -fx-background-color:#473d8b;
    -fx-text-fill:white;
    -fx-font-size:14px;
    -fx-padding-left:8px;
    -fx-padding-right:8px;
    -fx-padding-top:4px;
    -fx-padding-bottom:4px;
}